.blurEffect {
  display: block;
  background: #EEE;
  height: 100%;
}

@mixin apply($amount) {
  -webkit-filter: blur($amount);
  filter: blur($amount);
}

.soft {
  @include apply(2px);
}

.medium {
  @include apply(5px);
}

.hard {
  @include apply(10px);
}
